<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		   <link rel="stylesheet" href="../../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../../css/style.css">
	</head>
	<body>
		

	
		  
	    <div class="layui-form">
	      <input type="checkbox" name="switch" lay-skin="switch" lay-text="启用|禁用">
	    </div>
  		

		
		<script type="text/javascript" src="../../../frame/layui/layui.js"></script>
		<script>
		/*	var webName = window.top.getWebName();
			layui.config({
			
				base: webName+'/js/modules/' //这个路径以页面引入的位置进行计算
			}).extend({
				 //可以在这里定义依赖的js，路径	都是相对于base的,这里不能用相对路径写，感觉这个应该有待改进
				
				baseUrl:'api/base-url'
				
			});*/
			
			layui.use(['form'],function(){
			
				
			});
			
			
		</script>
	</body>
</html>
