<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>商品编辑</title>
		<link rel="stylesheet" href="../../frame/layui/css/layui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" href="../../css/font/iconfont.css" />
		<style>
			.layui-form-label {
				width: 100px;
			}
			
			.layui-form-label i {
				color: red;
			}
			.choose-area-btn {
				/*width: 30%;*/
				border-color: #e6e6e6;
				border-radius: 0 2px 2px 0;
				background: #FBFBFB;
			}
			
			.choose-area-input {
				width: 50%;
				float: left;
				border-right: none;
			}
			.operate{
				text-align: center;
			}
		</style>
		
	</head>

	<body class="body">

		<form id="commodity-form" class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						商品名称
					</label>
					<div class="layui-input-inline">
						<input type="text" name="commodityName" lay-verify="required" autocomplete="off" placeholder="请输入(50个字以内)" class="layui-input"> 
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						添加商品
					</label>
					<div class="layui-input-inline">
						<button id="choose-commodity" type="button" class="layui-btn layui-btn-normal">添加独立商品</button>
					</div>
				</div>
			</div>
			
			

			<div class="layui-form-item">
				<table id="selected-commodity-list" class="layui-table" lay-skin="row"></table>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"> 
						总价
					</label>

					<div class="layui-input-inline">
						<input type="text" id="totalOrigen" disabled="disabled" name="originalPrice" lay-verify="required"  class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
					<label class="layui-form-label"> 
						总现价
					</label>

					<div class="layui-input-inline">
						<input type="text" id="totalCurrent" disabled="disabled" name="currentPrice" lay-verify="required"  class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"> 
						总折扣
					</label>

					<div class="layui-input-inline">
						<input type="text" id="totalDiscountPercent" disabled="disabled"  lay-verify="required"  class="layui-input">
						<input id="totalDiscount" type="hidden" name="disCount" />
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						商品分类
					</label>
					<div class="layui-input-inline">

						<select id="commoditySort" name="commoditySort" lay-verify="required">
							<option value="">全部</option>
						</select>

					</div>

				</div>
				
				<div class="layui-inline">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						业务类型
					</label>
					<div class="layui-input-inline" id="business-type">
						<select id="businessType" name="businessType" lay-verify="required">
							<option value="">全部</option>
						</select>
					</div>

				</div>
			</div>

			<!--<div class="layui-form-item">
				
			</div>-->

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						销售部门
					</label>
					<div class="layui-input-block" id="saleDepartmentId">
						
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						学制
					</label>
					<div class="layui-input-block" id="systemName">

					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						学段
					</label>
					<div class="layui-input-block" id="schoolLevelId">

					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						年级
					</label>
					<div class="layui-input-block" id="grade" >
					
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						学科
					</label>
					<div class="layui-input-block" id="commoditySpecialty">

					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						用户类型
					</label>
					<div class="layui-input-block" id="userTypeId">

					</div>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label">适用地区</label>
					<div class="layui-input-block">
						<input type="text" name="areaNames" readonly="readonly" autocomplete="off" class="layui-input choose-area-input">
						<button type="button" class="layui-btn layui-btn-primary choose-area-btn">
						    <i class="layui-icon">&#xe61a;</i>
						</button>
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-block">
					<label class="layui-form-label"> 
						<i class="icon iconfont">&#xe635;</i>
						是否赠送
					</label>
					<div class="layui-input-block">
						<input type="radio" name="isGive" value="1" title="是">
						<input type="radio" name="isGive" value="2" title="否" checked />
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				
				<label class="layui-form-label"> 
					保存后提交审核
				</label>
				
				<div class="layui-input-block">
					<input type="radio" name="isSubmitAudit" value="1" title="是" checked>
					<input type="radio" name="isSubmitAudit" value="-1" title="否" checked>
				</div>
			</div>
			<div class="layui-form-item operate">
				<!--<div class="layui-input-block">-->
					<button class="layui-btn" type="button" lay-submit="" lay-filter="commodity-form">
						<i class="layui-icon">&#xe605;</i>
						提交
					</button>
					<button id="cancel" type="button" class="layui-btn layui-btn-primary">
						 <i class="layui-icon">&#x1006;</i>
						 取消
					</button>
				<!--</div>-->
			</div>
			<input type="hidden"  name="id" />
		</form>

		<script type="text/javascript" src="../../js/common/module-manage.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/layui/layui.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/datatables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="../../js/controller/commodity/commodity-update.js"></script>
	</body>

</html>