<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>产品管理</title>
		<link rel="stylesheet" href="../../frame/layui/css/layui.css">
		<link rel="stylesheet" href="../../css/style.css">
	</head>

	<body class="body">

		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">关键词</label>
					<div class="layui-input-inline">
						<input type="text" name="keyword" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>

				</div>

				<div class="layui-inline">
					<label class="layui-form-label">编码</label>
					<div class="layui-input-inline">
						<input type="text" name="code" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
					<label class="layui-form-label">产品线</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>

						</select>
					</div>

				</div>

				<div class="layui-inline">

					<label class="layui-form-label">产品类型</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>

						</select>
					</div>

				</div>
				<div class="layui-inline">

					<label class="layui-form-label">学制</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>

				<div class="layui-inline">

					<label class="layui-form-label">年级</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>

				<div class="layui-inline">

					<label class="layui-form-label">学科</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>

				<div class="layui-inline">
					<label class="layui-form-label">适用地区</label>
					<div class="layui-input-inline">
						<input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
					<label class="layui-form-label">有效期</label>
					<div class="layui-input-inline">
						<input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">

					<label class="layui-form-label">计费方式</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>
				<div class="layui-inline">

					<label class="layui-form-label">业务类型</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>

				<div class="layui-inline">
					<label class="layui-form-label">同步时间</label>
					<div class="layui-input-inline">
						<input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">

					<label class="layui-form-label">审核状态</label>
					<div class="layui-input-inline">
						<select id="" name="">
							<option value="">全部</option>
						</select>
					</div>

				</div>

				<div class="layui-inline fr">
					<a class="layui-btn btn-search mgl-20">查询</a>
				</div>
			</div>

		</form>

		<div id="page-btns" class="layui-btn-group fl">
		</div>

		<table id="product-list" class="layui-table"></table>

		<script type="text/javascript" src="../../js/common/module-manage.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/layui/layui.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" charset="utf8" src="../../frame/datatables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="../../js/controller/product/product-list.js"></script>
	</body>

</html>