<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE> 授权区域</TITLE>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../frame/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <style>
        input[type="checkbox"],
        input[type="radio"] {
            vertical-align: middle;
        }
    </style>
</HEAD>

<BODY>
    <ul id="authArea" class="ztree"></ul>
    <script src="../../frame/jquery-1.10.2.min.js"></script>
    <script src="../../frame/ztree/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="../../js/common/module-manage.js"></script>
    <script type="text/javascript" charset="utf8" src="../../frame/layui/layui.js"></script>
    <script type="text/javascript" charset="utf8" src="../../js/controller/contract/auth-area.js"></script>
</BODY>

</HTML>
